ul {  list-style-type: none;
padding-left:200px;
}
ol{list-style-type: none;
  font-family: Courier;
  font-size: 1.8em;
  color: blue;
 
}

body{background-color:#CD9B9B;
border-radius: 10px;
border-color:#664141;
border-style:solid;
border-width:40px;}


h1 {text-indent: 300px;
  background-color:#DEB887;
  Padding: 4px 4px;
  text-align: left;
  Font-family: Verdana;
  Border-radius: 20px;
  Border-color: black;
  Border-Style: Solid;
  font-size: 1.8em;
  color:Black;
  
  
}

h2 {
  background-color: #E9967A;
  Padding: 10px 10px;
  text-align: center;
  Font-family: Verdana;
  color:#4D4DFF;
  Border-radius: 20px;
  Border-color: black;
  Border-Style: Solid;
  Margin: auto;
  Max-width: 2000px;
}

.Concept-Title {
  Padding: 10px 10px;
  text-align: left;
  Font-family: Verdana;
}

.Concept-Description {
  background-color: #DEB887;
  Padding: 10px 10px;
  text-align: Left;
  Font-family: Verdana;
  color: Black;
  Border-radius: 20px;
  Border-color: black;
  Border-Style: Solid;
  Max-width: 2000px;
}

.Concept-List {
  Padding: 5px 10px;
  Font-family: Verdana;
  color: Black;
}


